<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ block "title" . }} {{- T "home" -}} {{ end }} | {{ .Site.Title }}</title>

    {{ partial "schema.html" . }}
    {{ partial "head.html" . }}
    {{ block "css" . }} {{ end }}
    {{ range .Site.Params.Advanced.customCSS -}}
      <link rel="stylesheet" href="{{ . | relURL }}" />
    {{- end }}

    <script data-ad-client="ca-pub-3996809670459584" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MNQS94M0ZR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MNQS94M0ZR');
    </script>

  </head>

  <body class="default">
    {{ partial "nav.html" . }}
    <div class="flip-container">
      <div class="flipper">
        <section class="front">
          <div class="dream-max-width">
            {{ block "main" . }} {{ end }}
          </div>
        </section>
        <section class="back">
          <div class="dream-max-width">
            {{ partial "back.html" . }}
          </div>
        </section>
      </div>
    </div>

    {{ partial "footer.html" . }}
    {{ block "js" . }} {{ end }}

    {{ if .Site.Params.enableSearch }}
      {{ partial "search.html" . }}
    {{ end }}

    {{ range .Site.Params.Advanced.customJS -}}
      <script src="{{ . | relURL }}"></script>
    {{- end }}

      


  </body>
</html>
